@CHARSET "ISO-8859-1";

body {
	background-color: #DDDDFF;
}

.window-pane {
	background-color: #DDDDFF;
}

@sprite .sheep {
	gwt-image: 'sheep';
}

.main-dock {
	border: 2px solid #777;
	text-align: left;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
	top: 15px !important;
	bottom: 15px !important;
	left: 15px !important;
	right: 15px !important;
}

.main-dock .header {
	border-bottom: 2px solid #666;
	background-color: #BBB;
	background-image: literal("-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#BBB))");
	background-image: literal("-moz-linear-gradient(top,#f7f7f7,#BBB)");
	filter: literal("progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',endColorstr='#dddddd')");
	border-radius: 10px 10px 0px 0px;
	
}

@external gwt-Label-main-title;
.main-dock .header .gwt-Label-main-title {
	font-size: 18px;
	font-family: 'Permanent Marker', cursive;
	padding-left: 15px;
}

@external gwt-Anchor-logout-button;
.main-dock .header .gwt-Anchor-logout-button {
	padding-right: 15px;	
	font-weight: bold;
}

.spinner-panel {
    padding: 5em;
}