@CHARSET "ISO-8859-1";

.room-panel {
	background-color: #F6F6F6;
	border-right: 1px solid #666;
	padding: 10px;
}

.room-panel .message-table {
	border-collapse: collapse;
	width: 100%;
}

.room-panel .message-table .row-even {
	background-color:  #EDEDED;
}

.room-panel .message-table .row-odd {
	background-color: #CCCCCC;
}

.room-panel .message-table .sender-col {
	font-weight: bold;
	padding: 5px;
	width: 125px;
}

.room-panel .message-table .content-col {
	padding: 5px;
}

.room-panel .message-table .score-col {
	padding-right: 3px;
	font-weight: bold;
}

@sprite .spinner {
	gwt-image: 'spinner';
	background-position: center;
	background-repeat: no-repeat;
	padding-right: 3px;
}