@CHARSET "ISO-8859-1";

.room-panel {
	padding: 10px;
}

.room-panel .message-table {
	border-spacing: 0px;
	width: 100%;
}

.room-panel .message-table .row-even {
	background-color:  #FFFFFF;
}

.room-panel .message-table .row-odd {
	background-color: #CCCCCC;
}

.room-panel .message-table .sender-col {
	padding: 5px;
	width: 125px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-left: 2px solid #555;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 3px 3px 3px #777;
	font-family: 'Permanent Marker', cursive;
	font-size: 14px;
	text-align: left;
}

.room-panel .message-table .content-col {
	padding: 5px;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 3px 3px 3px #777;
	text-align: left;
}

.room-panel .message-table .score-col {
	padding-left: 30px;
	font-weight: bold;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 3px 3px 3px #777;
	white-space: nowrap;
	text-align: left;
}

.room-panel .message-table .score-reason-col {
	color: transparent;
	padding-right: 3px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 3px 3px 3px #777;
	white-space: nowrap;
	padding: 0px 20px;
	font-style: italic;
	text-align: left;
}

.room-panel .message-table tr:hover .score-reason-col {
	color: #666;
}

.room-panel .message-table .first-row td {
	border-top: 2px solid #555;
}

@sprite .spinner {
	gwt-image: 'spinner';
	background-position: center;
	background-repeat: no-repeat;
	padding-right: 3px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-right: 2px solid #555;
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
	-webkit-box-shadow: 3px 3px 3px #777;
}