@CHARSET "ISO-8859-1";

.scoreboard-panel {
	background-color: #EDEDED;
	border: 2px solid #777;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #333;
}

.scoreboard-panel .score-table {
	width: 100%;
	border-collapse: collapse;
}

.scoreboard-panel .score-table .score-header {
	background-color: #444;
	font-weight: bold;
	color: white;
}

.scoreboard-panel .score-table .score-header td {
	padding-left: 5px;
	padding-right: 5px;
}

.scoreboard-panel .score-table .row-even {
	background-color: #C2D1FF;
}

.scoreboard-panel .score-table .row-odd {
	background-color: #eee;
}

.scoreboard-panel .score-table .user-col {
	font-weight: bold;
	padding: 5px;
	padding-right: 22px;
}

.scoreboard-panel .score-table .score-col {
	font-style: italic;
	padding: 5px;
}

@sprite .online {
	gwt-image: 'bullet_online';
	background-position: right;
	background-repeat: no-repeat;
}

@sprite .offline {
	gwt-image: 'bullet_offline';
	background-position: right;
	background-repeat: no-repeat;
}