@CHARSET "ISO-8859-1";

.page-panel {
	width: 100%;
	height: 100%;
}

@sprite .sheep {
	gwt-image: 'sheep';
}

.page-panel .main-dock {
	height: 600px;
	width: 650px;	
	top: 50px;
	border: 2px solid #000000;
	position: relative;
	left: -325px;
}

.page-panel .main-dock .header {
	background-color: #BBB;
	border-bottom: 2px solid #666;
}

@external gwt-Label-main-title;
.page-panel .main-dock .header .gwt-Label-main-title {
	font-size: 18px;
	font-family: 'Permanent Marker', cursive;
	padding-left: 15px;
}

@external gwt-Anchor-logout-button;
.page-panel .main-dock .header .gwt-Anchor-logout-button {
	padding-right: 15px;	
	font-weight: bold;
}

.spinner-panel {
    padding: 5em;
}