@CHARSET "ISO-8859-1";

.page-panel {
	width: 100%;
	height: 100%;
	background: url("sheep.jpg");
}

.page-panel .main-dock {
	height: 600px;
	width: 650px;	
	top: 100px;
	border: 2px solid #000000;
}

.page-panel .main-dock .header {
	background-color: #BBB;
	font-weight: bold;
	border-bottom: 2px solid #666;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
	font-size: 20px;
}